.contato__titulo {
  color: #464646;
  font-family: "Raleway", sans-serif;
  font-size: 3.2rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
}

@media screen and (max-width: 720px) {
  .contato__titulo {
    font-size: 2.2rem;
  }
}
