html {
    font-size: 65.5%;
}

.cabecalhoPrincipal {

    background: #F5F5F5;
}

.topo {

    margin: 0 auto;
    padding: 0 15.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    
    display: flex;
    align-items: center;
    padding: 3.45rem 0;
}

.nome {

    font-family: 'Raleway';
    font-size: 1.6rem;
    font-weight: 700;
    color: #464646;
    margin-left: 1.5rem;
}

.navBar {

    display: flex;
    align-items: center;
}

.itens-navBar a {
    
    color: #464646;
    text-decoration: none;
    margin-left: 3.2rem;
}

.itens-navBar {

    font-family: 'Raleway';
    font-size: 1.6rem;
    font-weight: 500;
}

.itens-navBar:last-child {
    
    font-weight: bold;
}

.apresentacao {

    margin: 0 auto;
    padding: 1rem 15.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.informacoesPessoais {

    vertical-align: center;
}

.tituloApresentacao {

    color: #464646;
    font-family: 'Raleway';
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 6.1rem;
}

.biografia {

    color: #464646;
    font-family: 'Raleway';
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 2.58rem;
    margin-top: 2.4rem;
}

.redesSocias a {

    text-decoration: none;
    color: #464646;
    font-family: 'Raleway';
    font-size: 1.6rem;
    font-weight: 500;
}

.redesSocias {

    display: flex;
    align-items: center;
    justify-content: flex-start;
}

 .itens-redesSocias {
    padding: 2.65rem 0  0;
    margin-right: 6rem;
 }

.imagemPerfil {

    border-radius: 50%;
    width: 36.8rem;
    height: 36.8rem;
    margin-left: 1.7rem;
}