html {
    font-size: 65.5%;
}

.cabecalhoPrincipal {

    background: #F5F5F5;
    width: 100%;
    margin: 0 auto;
    padding: 3.2rem 0 3.2rem 0;
}

.topo {

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    
    display: flex;
    align-items: center;
}

.nome {

    font-family: 'Raleway';
    font-size: 1.6rem;
    font-weight: 700;
    color: #464646;
    margin-left: 1.5rem;
}

.navBar {

    display: flex;
    align-items: center;
}

.itens-navBar a {
    
    color: #464646;
    text-decoration: none;
    margin-left: 3.2rem;
}

.itens-navBar {

    font-family: 'Raleway';
    font-size: 1.6rem;
    font-weight: 500;
}

.itens-navBar:last-child {
    
    font-weight: bold;
}

.apresentacao {

    width: 100%;
    margin: 0 auto;
    background: #F5F5F5;
}

.tituloApresentacao {
    
    color:#464646;
    font-family: 'Raleway';
    font-size: 5.4rem;
    font-weight: bold;
    line-height: 6.1rem;
}

.biografia {

    color: #464646;
    font-family: 'Raleway';
    font-size: 2.2rem;
    line-height: 2.6rem;
}

.itens-redesSocias a {

    color: #464646;
    font-family: 'Raleway';
    font-size: 1.6rem;
    font-weight: 500;
    text-decoration: none;
}