/*Estilização dos elementos da header*/

.cabecalhoPrincipal {

    background: #f5f5f5;
}

.topo {

    padding: 0 15.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {

    display: flex;
    align-items: center;
    padding: 3.45rem 0;
}

.nome {

    font-family: "Raleway", sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
    color: #464646;
    margin-left: 1.5rem;
}

.navBar {
    
    display: flex;
    align-items: center;
}

.itens-navBar a {
    color: #464646;
    text-decoration: none;
    margin-left: 3.2rem;
}

.itens-navBar {

    font-family: "Raleway", sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
}

.itens-navBar:last-child {

    font-weight: bold;
}

@media screen and (max-width: 780px) {

    .topo {

        padding: 0rem 3.2rem;
    }

    .nome {

        margin-left: .9rem;
    }

    .itens-navBar:nth-child(-n + 5) {

        display: none;
    }
}