.input-texto {
  position: relative;
}

.input-texto input {
  height: 4.6rem;
}

.input-texto input,
textarea {
  caret-color: #2a7ae4;
  color: #464646;
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  border: none;
  border-bottom: 0.1rem solid #c8c8c8;
  width: 98%;
  border-radius: 5px;
  margin-bottom: 3.2rem;
  padding-left: 1.2rem;
  transition: all 0.3s;
}

label {
  color: #a2a2a2;
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  position: absolute;
  left: 1.2rem;
  top: 1.6rem;
  bottom: 1.6rem;
  user-select: none;
  pointer-events: none;
  transition: 0.3s;
}

.input-texto input:focus ~ label,
.input-texto textarea:focus ~ label,
.input-texto input:valid ~ label,
.input-texto textarea:valid ~ label {
  color: #2a7ae4;
  top: -1rem;
  font-size: 1.2rem;
  padding-top: 1.2rem;
}

.input-texto input:focus,
.input-texto textarea:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
  border-bottom: 0.2rem solid #2a7ae4;
}
