.contato {
  display: flex;
  background: #eaf2fd;
  padding: 12.8rem 15.2rem 6.55rem 15.2rem;
}

@media screen and (max-width: 768px) {
  .contato {
    padding: 3.2rem;
  }
  .contato__imagem {
    display: none;
  }
}
