.projeto__botao--ver-demo {
    background: #2A7AE4;
    border: none;
    padding: 1.6rem;
}

.projeto__botao--ver-demo a {
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    text-decoration: none;
}

.projeto__botao--ver-demo:hover {
    background: #5595E9;
}

@media screen and (max-width: 768px) {
    .projeto__botao--ver-demo {
        padding: 1.2rem 1.6rem;
    }

    .projeto__botao--ver-demo a {
        font-size: 1.4rem;
        font-weight: 600;
    }
}