.projeto__imagem {
    height: 40.8rem;
    width: 65.2rem;
}

@media screen and (max-width:768px){
    .projeto__imagem {
        height: 35rem;
        width: 100%;
        margin-bottom: 1.6rem;
    }
}

@media screen and (max-width:375px) {
    .projeto__imagem {
        width: 100%;
        height: 19.8rem;
    }
}
