.sobreMim {

    padding: 6.4rem 15.2rem;
    background: #eaf2fd;
    text-align: left;
}

.tituloPrincipal {

    color: #464646;
    font-family: 'Raleway', sans-serif;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 3.75rem;
    margin-bottom: 1.6rem;
}

.textoSobreMim {

    width: 80%;
}

.paragrafo {

    color: #464646;
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.87rem;
    margin-bottom: 1.6rem;
}

@media screen and (max-width:780px){
    
    .sobreMim {

        padding: 3.2rem;
    }

    .tituloPrincipal {

        font-size: 2.2rem;
        line-height: 2.583rem;
    }

    .textoSobreMim {

        width: 100%;
    }

    .paragrafo {

        font-size: 1.4rem;
        line-height: 1.644rem;
    }

    .paragrafo:last-child {

        margin-bottom: 0;
    }
}

@media screen and (max-width: 368px){
    
    .sobreMim {

        padding: 1.6rem;
    }
}
